@model UX.Models.BookingConfirmation

@{
    ViewBag.Title = "BookingResult";
}

<h2>BookingResult</h2>

<fieldset>
    <legend>BookingConfirmation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReservationId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReservationId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
